# Database Configuration
DB_USER=almabot
DB_PASSWORD=almabot123
DB_ROOT_PASSWORD=almabot_root
DB_NAME=almabot

# Telegram Bot Configuration
TELEGRAM_TOKEN=8134642722:AAEdmnr2uTDnCncE9-lcbv8FUlXsZHNdH4M

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Model Configuration
MODEL_PATH=models/bullying_detection_model.joblib
VECTORIZER_PATH=models/vectorizer.joblib